<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RevisiIMB.My.MySettings.ConnectionString" connectionString="Dsn=testya;uid=root;pwd=latte"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
